.gradle
gradle
gradlew
gradlew.bat
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
log/
allure-results/
allure-report/
.idea/
target/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store
